<div class="body">
  @if (!modeSolo) {
    <h1>Générateur de marques</h1>
  } @else {
    <h1>{{ titreSolo }}</h1>
  }
  @if (!modeSolo) {
    <div class="menu">
      <div>
        <span>Entrez vos initiales : </span>
        <input type="text" [(ngModel)]="lettres" (ngModelChange)="lettres = lettres.toUpperCase(); doubleArray.length = 0; array.length = 0; chiffres = ''; visible = false;">
      </div>
      @if (lettres.length > 1 && lettres.length < 6) {
        <button style="font-size: 1em" (click)="generate()" class="start">Générer</button>
        @if (visible) {
          <div class="zooms">
              <svg  style="cursor: pointer" (click)="changeZoom(-0.1)" width="1.5em" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Zoom out</title><path d="M12.9 14.32a8 8 0 1 1 1.41-1.41l5.35 5.33-1.42 1.42-5.33-5.34zM8 14A6 6 0 1 0 8 2a6 6 0 0 0 0 12zM5 7h6v2H5V7z" fill-rule="evenodd"/></svg>
              <svg style="cursor: pointer" (click)="changeZoom(0.1)" width="1.5em" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Zoom in</title><path d="M12.9 14.32a8 8 0 1 1 1.41-1.41l5.35 5.33-1.42 1.42-5.33-5.34zM8 14A6 6 0 1 0 8 2a6 6 0 0 0 0 12zM7 7V5h2v2h2v2H9v2H7V9H5V7h2z" fill-rule="evenodd"/></svg>
              <svg class="cursor"
                   (click)="downloadAll()"
                   height="1.5em" viewBox="0 0 14 19" width="1.5em" xmlns="http://www.w3.org/2000/svg"><title>Télécharger toutes les marques avec le zoom actuel</title><g fill="none" fill-rule="evenodd" id="Page-1" stroke="none" stroke-width="1"><g fill="#000000" id="Core" transform="translate(-383.000000, -213.000000)"><g id="file-download" transform="translate(383.000000, 213.500000)"><path d="M14,6 L10,6 L10,0 L4,0 L4,6 L0,6 L7,13 L14,6 L14,6 Z M0,15 L0,17 L14,17 L14,15 L0,15 L0,15 Z" id="Shape"/></g></g></g></svg>
          </div>
        }
      }
      <!--<div>
        Specific positions :
        <input type="text" [(ngModel)]="chiffres" (ngModelChange)="fillArray()">
      </div>-->
    </div>
  }
  <!--<div class="jump"></div>
  <div>
    @for (letter of lettres.split(''); track $index;) {
      <span class="letter {{letter}} marge" [ngClass]="{ 'empty' : letter == '_'}" [title]="letter"></span>
    }
  </div>
  <div class="jump"></div>
  <div>
    @for (word of array; track word; let vindex = $index) {
      <div>{{ word }}</div>
    }
    @for (word of array; track word; let vindex = $index) {
      <div class="line" [ngClass]="{ 'vshift' : vindex > 0}">
        @for (letter of word.split(''); track $index;) {
            <span class="letter {{letter}}" [ngClass]="{ 'shift' : $index > 0 && !notShifted.includes(letter) && !notShifted.includes(word.at($index - 1)!), 'empty' : letter == '_'}" [title]="letter"></span>
        }
      </div>
    }
  </div>-->
  @if (doubleArray.length > 1) {
    <div class="jump"></div>
  }
  <div [class]="!modeSolo ? 'generate' : ''" #scroll [ngStyle]="{ 'zoom': zoom, '-moz-transform': 'scale(' + zoom + ')', '-moz-transform-origin': 'top' }">
    @for (list of doubleArray; track list; let dindex = $index) {
      <div class="subgenerate" id="word{{dindex}}">
        <div class="word">
          @if (!modeSolo) {
            <div style="font-size: 3em">{{dindex + 1}}</div>
          }
          <div>
            @for (word of list; track word;) {
              <div style="font-size: 3em" class="center">{{ word.replaceAll('_', '&nbsp;&nbsp;') }}</div>
            }
          </div>
          @if (displayButtons && !modeSolo) {
            <svg class="cursor" (click)="delete(dindex, scroll.querySelector('#word' + dindex))" height="3em" id="Layer_1" viewBox="0 0 512 512" width="3em" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"><title>Supprimer la marque</title><path d="M443.6,387.1L312.4,255.4l131.5-130c5.4-5.4,5.4-14.2,0-19.6l-37.4-37.6c-2.6-2.6-6.1-4-9.8-4c-3.7,0-7.2,1.5-9.8,4  L256,197.8L124.9,68.3c-2.6-2.6-6.1-4-9.8-4c-3.7,0-7.2,1.5-9.8,4L68,105.9c-5.4,5.4-5.4,14.2,0,19.6l131.5,130L68.4,387.1  c-2.6,2.6-4.1,6.1-4.1,9.8c0,3.7,1.4,7.2,4.1,9.8l37.4,37.6c2.7,2.7,6.2,4.1,9.8,4.1c3.5,0,7.1-1.3,9.8-4.1L256,313.1l130.7,131.1  c2.7,2.7,6.2,4.1,9.8,4.1c3.5,0,7.1-1.3,9.8-4.1l37.4-37.6c2.6-2.6,4.1-6.1,4.1-9.8C447.7,393.2,446.2,389.7,443.6,387.1z"/></svg>
          }
        </div>
        <div #screen>
          @for (word of list; track word; let vindex = $index) {
            <div class="line" [ngClass]="{ 'vshift' : vindex > 0}">
              @for (letter of word.split(''); track windex; let windex = $index) {
                <span id="letter-{{dindex}}-{{vindex}}-{{windex}}"
                      class="letter {{letter}}"
                      [ngClass]="{ 'empty' : letter == '_'}"
                      [title]="letter"
                      [ngStyle]="{ 'margin-left': marges.get(dindex + ',' + vindex + ',' + windex) + 'px', 'position': 'relative'}">
                  @if (edits[dindex]) {
                    <svg style="position: absolute; top: 46%; cursor: pointer; filter: opacity(.5)"
                         [ngStyle]="{ 'left': !notShifted.includes(letter) ? '20%' : '38%'}"
                         (click)="move(dindex,vindex,windex, -33)"
                         height="1.5em" viewBox="0 0 512 512" width="1.5em" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" ><title>Translation gauche</title><polygon points="64.5,256.5 256.5,448.5 256.5,336.5 448.5,336.5 448.5,176.5 256.5,176.5 256.5,64.5 "/></svg>
                    <svg style="position: absolute; top: 54%; cursor: pointer; filter: opacity(.5)"
                         [ngStyle]="{ 'left': !notShifted.includes(letter) ? '22%' : '40%'}"
                         (click)="move(dindex,vindex,windex, -1)"
                         height="1em" viewBox="0 0 512 512" width="1em" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" ><title>Translation gauche 1 pixel</title><polygon points="64.5,256.5 256.5,448.5 256.5,336.5 448.5,336.5 448.5,176.5 256.5,176.5 256.5,64.5 "/></svg>
                    <svg style="position: absolute; top: 46%; cursor: pointer; filter: opacity(.5)"
                         [ngStyle]="{ 'left': !notShifted.includes(letter) ? '69%' : '52%'}"
                         (click)="move(dindex,vindex,windex, 33)"
                         height="1.5em" viewBox="0 0 512 512" width="1.5em" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"><title>Translation droite</title><polygon points="448.5,256.5 256.5,64.5 256.5,176.5 64.5,176.5 64.5,336.5 256.5,336.5 256.5,448.5 "/></svg>
                    <svg style="position: absolute; top: 54%; cursor: pointer; filter: opacity(.5)"
                         [ngStyle]="{ 'left': !notShifted.includes(letter) ? '71%' : '54%'}"
                         (click)="move(dindex,vindex,windex, 1)"
                         height="1em" viewBox="0 0 512 512" width="1em" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"><title>Translation droite 1 pixel</title><polygon points="448.5,256.5 256.5,64.5 256.5,176.5 64.5,176.5 64.5,336.5 256.5,336.5 256.5,448.5 "/></svg>
                  }
                  @if (letter == '_' && edits[dindex]) {
                    <svg class="cursor"
                         style="visibility: visible !important; position: absolute; top: 50%; left: 40%; filter: opacity(.5)"
                         (click)="deleteEmpty(scroll.querySelector('#letter-' + dindex + '-' + vindex + '-' + windex))"
                         height="1.5em" id="Layer_1" viewBox="0 0 512 512" width="1.5em" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"><title>Supprimer ce bloc</title><path d="M443.6,387.1L312.4,255.4l131.5-130c5.4-5.4,5.4-14.2,0-19.6l-37.4-37.6c-2.6-2.6-6.1-4-9.8-4c-3.7,0-7.2,1.5-9.8,4  L256,197.8L124.9,68.3c-2.6-2.6-6.1-4-9.8-4c-3.7,0-7.2,1.5-9.8,4L68,105.9c-5.4,5.4-5.4,14.2,0,19.6l131.5,130L68.4,387.1  c-2.6,2.6-4.1,6.1-4.1,9.8c0,3.7,1.4,7.2,4.1,9.8l37.4,37.6c2.7,2.7,6.2,4.1,9.8,4.1c3.5,0,7.1-1.3,9.8-4.1L256,313.1l130.7,131.1  c2.7,2.7,6.2,4.1,9.8,4.1c3.5,0,7.1-1.3,9.8-4.1l37.4-37.6c2.6-2.6,4.1-6.1,4.1-9.8C447.7,393.2,446.2,389.7,443.6,387.1z"/></svg>
                  }
                </span>
              }
            </div>
          }
        </div>
        @if (displayButtons) {
          <div class="action">
            <svg class="cursor"
                 [ngStyle]="{ 'filter': 'opacity(' + (edits[dindex] ? '.5' : '1') + ')' }"
                 (click)="toggleEdit(dindex)"
                 height="2.5em" viewBox="0 0 18 18" width="2.5em" xmlns="http://www.w3.org/2000/svg"><title>Editer la marque</title><g fill="none" fill-rule="evenodd" id="Page-1" stroke="none" stroke-width="1"><g fill="#000000" id="Core" transform="translate(-213.000000, -129.000000)"><g id="create" transform="translate(213.000000, 129.000000)"><path d="M0,14.2 L0,18 L3.8,18 L14.8,6.9 L11,3.1 L0,14.2 L0,14.2 Z M17.7,4 C18.1,3.6 18.1,3 17.7,2.6 L15.4,0.3 C15,-0.1 14.4,-0.1 14,0.3 L12.2,2.1 L16,5.9 L17.7,4 L17.7,4 Z" id="Shape"/></g></g></g></svg>
            <svg class="cursor"
                 (click)="downloadImage(dindex, list)"
                 height="3em" viewBox="0 0 14 19" width="3em" xmlns="http://www.w3.org/2000/svg"><title>Télécharger la marque</title><g fill="none" fill-rule="evenodd" id="Page-1" stroke="none" stroke-width="1"><g fill="#000000" id="Core" transform="translate(-383.000000, -213.000000)"><g id="file-download" transform="translate(383.000000, 213.500000)"><path d="M14,6 L10,6 L10,0 L4,0 L4,6 L0,6 L7,13 L14,6 L14,6 Z M0,15 L0,17 L14,17 L14,15 L0,15 L0,15 Z" id="Shape"/></g></g></g></svg>
            @if (!modeSolo) {
              <svg class="cursor"
                   (click)="goToLink(dindex)"
                   height="3em" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <title>Obtenir un lien unique</title>
                <path d="M13.5442 10.4558C11.8385 8.75022 9.07316 8.75022 7.36753 10.4558L4.27922 13.5442C2.57359 15.2498 2.57359 18.0152 4.27922 19.7208C5.98485 21.4264 8.75021 21.4264 10.4558 19.7208L12 18.1766" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M10.4558 13.5442C12.1614 15.2498 14.9268 15.2498 16.6324 13.5442L19.7207 10.4558C21.4264 8.75021 21.4264 5.98485 19.7207 4.27922C18.0151 2.57359 15.2497 2.57359 13.5441 4.27922L12 5.82338" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            }
          </div>
        }
      </div>
      <div class="jumpwhite"></div>
    }
  </div>
</div>
@if (modeSolo) {
  <svg class="cursor"
       (click)="goBack()"
       height="5em" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg"><path fill="#000000" d="M224 480h640a32 32 0 1 1 0 64H224a32 32 0 0 1 0-64z"/><path fill="#000000" d="m237.248 512 265.408 265.344a32 32 0 0 1-45.312 45.312l-288-288a32 32 0 0 1 0-45.312l288-288a32 32 0 1 1 45.312 45.312L237.248 512z"/></svg>
}
<div id="download" [hidden]="true">
  <img #canvas>
  <a #downloadLink></a>
</div>
<router-outlet />
@if (loading) {
  <div class="overlay">
    <div class="loader"></div>
  </div>
}
