<div #body class="body">
  @if (!modeSolo) {
    <h1>Générateur de marques</h1>
  } @else {
    <h1>{{ titreSolo }}</h1>
  }
  @if (!modeSolo) {
    <div class="menu">
      <div>
        <span>Entrez vos initiales : </span>
        <input type="text" [(ngModel)]="lettres" (ngModelChange)="lettres = lettres.toUpperCase(); doubleArray.length = 0; array.length = 0; chiffres = ''; visible = false;" style="width: 4em">
      </div>
      @if (lettres.length > 1 && lettres.length < 6) {
        <button style="font-size: 1em" (click)="generateWithLoading()" class="start">Générer</button>
        @if (visible) {
          <div class="zooms">
            <img class="cursor" (click)="changeZoom(-0.1)" title="Zoom out" width="40px" height="40px" src="zoomout.svg" alt="zoom-out"/>
            <img class="cursor" (click)="changeZoom(0.1)" title="Zoom in" width="40px" height="40px" src="zoomin.svg" alt="zoom-out"/>
            <img class="cursor" (click)="downloadAll()" title="Télécharger toutes les marques de la page" width="40px" height="40px" src="download.svg" alt="download all"/>
            @if (!filtreVisible) {
              <img class="cursor" title="Filtrer les marques" (click)="toggleFilter()" width="40px" height="40px" src="filter.svg" alt="filter"/>
            } @else {
              <img class="cursor" title="Supprimer le filtre" (click)="toggleFilter()" width="40px" height="40px" src="filterslash.svg" alt="unfilter"/>
            }
          </div>
          <div style="display: flex; align-items: center; gap: 0.5em">
            @if (filtreVisible) {
              Filtre :
              <input type="text" [(ngModel)]="filtre" (ngModelChange)="filtre = filtre.toUpperCase();" style="width: 4em">
              Affichés : {{ getTotalNumberDisplayed() }} / {{ this.doubleArray.length }}
            } @else {
              Taille de page :
              <input type="number" [(ngModel)]="nbByPage" style="width: 4em">
              Total : {{ this.doubleArray.length }}
            }
          </div>
        }
      }
    </div>
  }
  @if (filtre.length < 2 && doubleArray.length > 1 && getNbPages() > 1) {
    <div [ngStyle]="{ 'display': 'flex', 'justify-content': 'center', 'gap': '0 1em', 'align-items': 'center', 'font-size': 'x-large', 'margin-bottom': '.5em'}">
      <img class="cursor" title="Première page" (click)="currentPage = currentPage = 0;" width="30px" height="30px" src="first.svg" alt="first page"/>
      <img class="cursor" title="Page précédente" (click)="currentPage = currentPage > 0 ? currentPage - 1 : currentPage;" width="30px" height="30px" src="previous.svg" alt="previous page"/>
      Page {{ currentPage + 1 }} / {{ getNbPages() }}
      <img class="cursor" title="Page suivante" (click)="currentPage = currentPage + 1 < getNbPages() ? currentPage + 1 : currentPage;" width="30px" height="30px" src="next.svg" alt="next page"/>
      <img class="cursor" title="Dernière page" (click)="currentPage = getNbPages() - 1;" width="30px" height="30px" src="last.svg" alt="last page"/>
    </div>
  }
  <div [class]="!modeSolo ? 'generate' : ''" #scroll [ngStyle]="{ 'zoom': zoom}">
    @for (list of doubleArray; track list; let dindex = $index) {
      @if(filtre.length < 2 && dindex >= currentPage * nbByPage && dindex < ((currentPage + 1) * nbByPage) || (filtre.length > 1 && list.join('').replaceAll('_', '').includes(filtre))) {
        <div class="subgenerate jumpwhite" id="word{{dindex}}">
        <div class="word">
          @if (!modeSolo) {
            <div style="font-size: 3em">{{dindex + 1}}</div>
          }
          <div>
            @for (word of list; track word;) {
              <div style="font-size: 3em" class="center">{{ word.replaceAll('_', '&nbsp;&nbsp;') }}</div>
            }
          </div>
          @if (displayButtons && !modeSolo) {
            <img class="cursor" (click)="delete(dindex, scroll.querySelector('#word' + dindex)); nbDelete = nbDelete + 1" width="70px" height="70px" src="close.svg" alt="close"/>
          }
        </div>
        <div #screen>
          @for (word of list; track word; let vindex = $index) {
            <div class="line" [ngClass]="{ 'vshift' : vindex > 0}">
              @for (letter of word.split(''); track windex; let windex = $index) {
                <span id="letter-{{dindex}}-{{vindex}}-{{windex}}"
                      class="letter {{letter}}"
                      [ngClass]="{ 'empty' : letter == '_'}"
                      [title]="letter"
                      [ngStyle]="{ 'margin-left': marges.get(dindex + ',' + vindex + ',' + windex) + 'px', 'position': 'relative'}">
                  @if (edits[dindex]) {
                    <img title="Translation gauche" style="position: absolute; top: 45%; cursor: pointer; filter: opacity(.5)" [ngStyle]="{ 'left': !notShifted.includes(letter) ? '20%' : '38%'}" (click)="move(dindex,vindex,windex, -33)" width="30px" height="30px" src="left.svg" alt="left"/>
                    <img title="Translation gauche 1 pixel" style="position: absolute; top: 55%; cursor: pointer; filter: opacity(.5)" [ngStyle]="{ 'left': !notShifted.includes(letter) ? '22%' : '40%'}" (click)="move(dindex,vindex,windex, -1)" width="20px" height="20px" src="left.svg" alt="small left"/>
                    <img title="Translation droite" style="position: absolute; top: 45%; cursor: pointer; filter: opacity(.5)" [ngStyle]="{ 'left': !notShifted.includes(letter) ? '69%' : '52%'}" (click)="move(dindex,vindex,windex, 33)" width="30px" height="30px" src="right.svg" alt="right"/>
                    <img title="Translation droite 1 pixel" style="position: absolute; top: 55%; cursor: pointer; filter: opacity(.5)" [ngStyle]="{ 'left': !notShifted.includes(letter) ? '71%' : '54%'}" (click)="move(dindex,vindex,windex, 1)" width="20px" height="20px" src="right.svg" alt="small right"/>
                  }
                  @if (letter == '_' && edits[dindex]) {
                    <img title="Supprimer le bloc" class="cursor" style="visibility: visible !important; position: absolute; top: 50%; left: 40%; filter: opacity(.5)" (click)="deleteEmpty(scroll.querySelector('#letter-' + dindex + '-' + vindex + '-' + windex))" width="30px" height="30px" src="close.svg" alt="delete block"/>
                  }
                </span>
              }
            </div>
          }
        </div>
        @if (displayButtons) {
          <div class="action">
            <img title="Editer les marges" src="edit.svg" width="80px" height="80px" class="cursor"
                 [ngStyle]="{ 'filter': 'opacity(' + (edits[dindex] ? '.5' : '1') + ')' }" (click)="toggleEdit(dindex)">
            @if (modeSolo) {
              <img title="Télécharger la marque en petit" src="download.svg" width="40px" height="40px" class="cursor" (click)="downloadImage(dindex, true)">
            }
            <img title="Télécharger la marque" src="download.svg" width="80px" height="80px" class="cursor" (click)="downloadImage(dindex, false)">
            @if (!modeSolo) {
              <img title="Lien unique de cette marque" src="link.svg" width="80px" height="80px" class="cursor" (click)="goToLink(dindex)">
            }
          </div>
        }
      </div>
      }
    }
  </div>
  @if (filtre.length < 2 && doubleArray.length > 1 && getNbPages() > 1) {
    <div [ngStyle]="{ 'display': 'flex', 'justify-content': 'center', 'gap': '0 1em', 'align-items': 'center', 'font-size': 'x-large', 'margin': '.5em 0'}">
      <img class="cursor" title="Première page" (click)="firstPage()" width="30px" height="30px" src="first.svg" alt="first page"/>
      <img class="cursor" title="Page précédente" (click)="previousPage()" width="30px" height="30px" src="previous.svg" alt="previous page"/>
      Page {{ currentPage + 1 }} / {{ getNbPages() }}
      <img class="cursor" title="Page suivante" (click)="nextPage()" width="30px" height="30px" src="next.svg" alt="next page"/>
      <img class="cursor" title="Dernière page" (click)="lastPage()" width="30px" height="30px" src="last.svg" alt="last page"/>
    </div>
  }
</div>
@if (modeSolo) {
  <img class="cursor" title="Retour aux marques" (click)="goBack()" width="80px" height="80px" src="back.svg" alt="back"/>
}
<div id="download" [hidden]="true">
  <img #canvas>
  <a #downloadLink></a>
</div>
<router-outlet />
@if (loading) {
  <div class="overlay">
    <div class="loader"></div>
  </div>
}
